table, th, td {
    border: 2px solid black;
    border-collapse: collapse;
    
}

th {
    padding: 5px;
}

td {
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}

